#click_modifiers{
    text-align: center;
}
.click {
    font-size: 50px;
}

#clicks{
    text-align: center;
    font-size: 100px;
}



#resources{
    text-align: center;
    font-size: 50px;
}

.sell{
    font-size: 50px;
}